
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'roboto', sans-serif;
}

/* the header style code */

.material-icons{
    color: rgb(96, 96, 96);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;
}

.header_left{
    display: flex;
    align-items: center;
}
.header_left img{
    width: 100px;
    margin-left: 15px;
}
.header i{
    padding: 0px 7px;
    cursor: pointer;
}
.header_search form{
    border: 1px solid;
    height: 35px;
    margin: 0px;
    padding: 0px;
    display: flex;
}
.header_search input{
    margin: 0px;
    width: 450px;
    padding: 10px;
    border-radius: 0px;
    border: none;
}
.header_search button{
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    border-radius: 0px;
}
/* style for the main body */

.main_body{
    height: calc(100vh-70px);
    display: flex;
    overflow: hidden;

}
/* sidebar */
.sidebar{
    height: 100%;
    width: 230px;
    background-color: white;
    overflow: scroll;
}
/* sidebar categories */
.sidebar_categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;

}
 /* sidebar elements */

 .sidebar_elements{
     display: flex;
     align-items: center;
     padding: 12px 25px;
 }
/* targeting the span */
 .sidebar_elements span{
     margin-left: 15px;

 }
 .sidebar_elements:hover{
     background-color: #3b3b3b;
     cursor: pointer;
 }
 .sidebar::-webkit-scrollbar{
     display: none;
 }

 hr{
     height: 1px;
     background-color: rgb(186, 190, 190);
     border: none;
 }

 /* videos */

 .videos{
     width: 100%;
     background-color: rgb(156, 155, 155);
     height: 100%;
     padding: 15px 25px;
     border-top: 1px solid ;
     overflow-y: scroll;

 }
 .video_container{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     flex-wrap: wrap;

 }

 .video{
     
 }